#img_perfil{
  max-width: 270px;
  margin-right: 2%;
}

body{
  background-color: #111210;
  margin-top: 5%;
  color: aliceblue;
  display: flex;
  justify-content: center;
}
.contenedor{
  width: 70%;
  height: auto;

  .perfil{
    display: flex;
    justify-content: center;
    .info{
      width: 600px;
      #nombre{
        font-size: 3rem;
        font-weight: bold;
      }
      #ocupacion{
        font-size: xx-large;
        font-weight: bold;
      }
      .locacion{
        display: inline-flex;
        align-items: center;
        #location{
          max-width: 43px;
        }
      }
      .iconos{
        display: flex;
        flex-direction: row;
        gap: 15px;
        .icon{
          display: flex;
          justify-content: center;
          align-items: center;
          width: 70px;

          border: 0.5px solid #1e00ff93;
          border-radius: 40px 40px 40px 40px;
          background-color: #0f00803d;
          img{
            max-width: 40px;
          }
          #linkedin{
            max-width: 30px;
          }
        }
        .icon2{
          display: flex;
          justify-content: center;
          align-items: center;
          width: 70px;
          border: 0.5px solid #1e00ff93;
          border-radius: 40px 40px 40px 40px;
          background-color: #0f00803d;
          img{
            max-width: 40px;
          }
          #linkedin{
            max-width: 30px;
          }
        }
        .icon3{
          display: flex;
          justify-content: center;
          align-items: center;
          width: 70px;
          border: 0.5px solid #1e00ff93;
          border-radius: 40px 40px 40px 40px;
          background-color: #0f00803d;
          img{
            max-width: 30px;
          }
       
        }
      }
    }
  }


  /*  SOBRE MI */
  .span{
    width: 100%;
    height: 70px;
  }
  .sobremi{
    padding-top: 40px;
    h2{
      font-weight: bold;
    }
    #texto{
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI (Custom)", Roboto, "Helvetica Neue", "Open Sans (Custom)", system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
      font-size: 24px;
    }
  }
}

.tecnologias{
  
  margin-top: 70px;
  h2{
    font-weight: bold;
    
  }
}

.backend{
  padding: 2%;
  width: fit-content;
  display: flex;
  display: flex;
  justify-content: center;
  flex-direction: column;
  .logos{
    padding-bottom: 10px;
    img{
      height:70px;
    }
  }
  #titulo{
    display: flex;
    justify-content: center;
    padding-top: 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.24);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;


  
  }
}